<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Jote.TV.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Jote.TV.My.MySettings>
            <setting name="settingsWelcome" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="settingsPlaystatus" serializeAs="String">
                <value>stop</value>
            </setting>
            <setting name="settingsContentType" serializeAs="String">
                <value>Jote TV</value>
            </setting>
            <setting name="settingsCrop" serializeAs="String">
                <value>16:9</value>
            </setting>
            <setting name="settingsAspectRatio" serializeAs="String">
                <value>4:3</value>
            </setting>
            <setting name="settingsRecordQuality" serializeAs="String">
                <value>Standard Definition</value>
            </setting>
            <setting name="settingsUpdateCheck" serializeAs="String">
                <value>On startup</value>
            </setting>
            <setting name="settingsOpacity" serializeAs="String">
                <value>100</value>
            </setting>
        </Jote.TV.My.MySettings>
    </userSettings>
</configuration>